$barsBackground: #202126;
$mainFontColor: #4C4D53;
$mainActiveColor: #DA3C3C;
$totalBackgroundColor: #000;
$totalOrange: #FF4F00;
$simpleWhite: #fff;
$robotoFont: 'Roboto Condensed', sans-serif;
$heeboFont: 'Heebo';
$latoFont: 'lato';
$whiteShadow: #FFFFFF;
$filmsFont: 'Noto Sans';
$mainfilmsBackground: #1E1E1E;

// movies

$backgroundColorFilms: #24252A;
